<footer class="nga-footer mt-auto">
    <div class="container py-5 text-center text-lg-start">
      <div class="row">
        <div class="col-12 col-lg-5 mb-3">
          <h2 class="h5">SOY ALESSANDRO</h2>
          <hr class="text-white mb-4 mt-0 d-inline-block " style="width: 120px;">
          <p>Un estudiante de 2ºDAW, Genio, Millonario, PlayBoy, Filántropo</p>
          <p>Filósofo, Físico Nuclear, Doctor, Cantante, Guitarrista</p>
          <div>
            <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://linkedin.com/" aria-label="Linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a type="button" class="nga-btn-social nga-btn-twitter" href="https://twitter.com/" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a type="button" class="nga-btn-social nga-btn-github" href="https://github.com/" aria-label="Github"><i class="fab fa-github"></i></a>
            <a type="button" class="nga-btn-social nga-btn-facebook" href="https://gitlab.com/" aria-label="Gitlab"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">Herramientas Usadas</h2>
          <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://angular.io/">Angular</a></li>
            <li class="mb-2"><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li class="mb-2"><a href="https://fontawesome.com/">Font Awesome</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">Copyright</h2>
          <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2">Derechos Reservados por Alessandro</li>
          </ul>
        </div>
      </div>
    </div>
</footer>